html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav ul li {
    display: inline-block;
    border: 3px solid black;
    font-weight: bold;
    padding: 24px;
    margin: 4px;
}

h1 {
    background-color: lightyellow;
    border: 3px solid darkgoldenrod;
    padding: 12px;
    margin: 12px;
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
}

.recipe {
    background-color: lightcyan;
    border: 8px double darkcyan;
    margin: 12px auto;
    padding: 12px;
}